dist: xenia
language: python

sudo: false

matrix:
  include:
    - os: linux
      python: 3.5
    - os: linux
      python: 3.6
    - os: linux
      python: 3.7
    # - os: linux
    #   python: pypy
    # - os: osx
    #   language: generic
    #   env:
    #   - PYTHON_VERSION=2.6.6
    #   - PYENV_ROOT=~/.pyenv
    #   - PATH=$PYENV_ROOT/shims:$PATH:$PYENV_ROOT/bin:$PYENV_ROOT/versions/2.6.6/bin
    # - os: osx
    #   language: generic
    #   env:
    #   - PYTHON_VERSION=2.7.10
    #   - PYENV_ROOT=~/.pyenv
    #   - PATH=$PYENV_ROOT/shims:$PATH:$PYENV_ROOT/bin:$PYENV_ROOT/versions/2.7.10/bin
    # - os: osx
    #   language: generic
    #   env:
    #   - PYTHON_VERSION=pypy-2.6.0
    #   - PYENV_ROOT=~/.pyenv
    #   - PATH=$PYENV_ROOT/shims:$PATH:$PYENV_ROOT/bin:$PYENV_ROOT/versions/pypy-2.6.0/bin
    # - os: osx
    #   language: generic
    #   env:
    #   - PYTHON_VERSION=pypy-3.7.4
    #   - PYENV_ROOT=~/.pyenv
    #   - PATH=$PYENV_ROOT/shims:$PATH:$PYENV_ROOT/bin:$PYENV_ROOT/versions/pypy-3.7.4/bin

install:
  - bash .travis-${TRAVIS_OS_NAME}.sh
  - pip install --upgrade pip
  - pip install pytest
  - pip install --editable .

script:
  - make test
